svg {
  fill: currentColor;
}

md-slider.md-primary .md-track.md-track-fill {
  z-index: 1;
}

md-slider .md-track {
  z-index: 1;
  background-color: rgba(210, 210, 210, 0.26);
}

md-slider .md-thumb-container {
  z-index: 2;
}
