@import 'node_modules/angular-material/angular-material.scss';
@import 'variables';
@import 'player';
@import 'sanitize';
@import 'webfonts';

body {
  background-color: $body-bg-color;
  overflow: hidden;
  width: 100%;
}
