mp-controls {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;

  .timer {
    span:first-child {
      color: white;
    }

    span {
      color: grey;
    }
  }
}

mp-media-controls, mp-player-controls {
  @extend mp-controls;
}

.fontPreviewArea {
  overflow: hidden;
  height: 371px;;
  max-width: 660px;

  background-image: url('./img/subtitles_preview.png');
  background-position: center;
  background-size: 100% 100%;
}
